html {
    background-color: #c4b5fd;
}


.container {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
}
#player-has-won {
    height: 2rem;
    font-weight: 700;;
}
.above-board-info {
    font-size: 1.3rem;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.game-board-container {
    width: 20rem;
    height: 20rem; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 2px solid black;
    background-color: white;
}
.board-space {
    border: 2px solid black;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.board-space:hover {
    background-color: #e2e8f0;
}
.reset button {
    background-color: #fca5a5;
    padding: .5rem;
    border: 0px;
    border-radius: 1.1rem;
    margin: .8rem;
}
.reset button:hover  {
    background-color: #fecaca;
}

#score-reset {
    background-color: #fca5a5;
    border: 0px;
    border-radius: 1.1rem;
    padding: 0.5rem;
    margin: .8rem;


}
#score-reset:hover {
    background-color: #fecaca;

}
.score-area {
    display: grid;
    grid-template-columns: repeat(2, clamp(5rem, 8rem, 10rem));
    grid-template-rows: repeat(2, clamp(2rem, 3rem, 10rem));
    /* width: 10rem;
    height: 4rem; */
}
#score-header {
    font-size: 1.4rem;
    font-weight: 700;
    grid-column: 1/3;
    grid-row: 1/2;
    display:flex;
    justify-content: center;
    align-items: center;
}
#x-score {
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}
#o-score {
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}