html {
    background-color: #c4b5fd;
}

.title {
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}
#player-has-won {
    height: 2rem;
    font-weight: 700;;
}
.above-board-info {
    font-size: 1.3rem;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.game-board-container {
    width: 20rem;
    height: 20rem; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 2px solid black;
    background-color: white;
}
.board-space {
    border: 2px solid black;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.board-space:hover {
    background-color: #e2e8f0;
}
.reset-button {
    display: flex;
    justify-content: center;
}
.reset-buttons {
    height: 3rem;
    border-radius: 0.4rem;
    border: 0px;
    padding: 0.2rem;
    box-shadow: 2px 2px 2px #a8a29e;
}
#reset-button {
    background-color: #fdba74;
}
#reset-button:hover {
    background-color: #fed7aa;
}
#score-reset {
    background-color: #fcd34d;
}
#score-reset:hover {
    background-color: #fde68a;
}

.score-area {
    display: grid;
    grid-template-columns: repeat(2, clamp(5rem, 8rem, 10rem));
    grid-template-rows: repeat(2, clamp(2rem, 3rem, 10rem)) clamp(4rem, 5rem, 8rem);
    /* width: 10rem;
    height: 4rem; */
}
#score-header {
    font-size: 1.6rem;
    font-weight: 700;
    grid-column: 1/3;
    grid-row: 1/2;
    display:flex;
    justify-content: center;
    align-items: center;
}
#x-score {
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}
#o-score {
    grid-row: 2/3;
    grid-column: 2/3;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;

}